*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,body,main{
    height: 100%;
    width: 100%;
}

/* contenedor principal */
main{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: bisque;
}
.contenedor{
    border: solid 1px black;
    height: 50%;
    width: 50%;
    background-color: white;
}

/* titulo */
.titulo{
    height: 10%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 600;
    font-family:Georgia, 'Times New Roman', Times, serif;
    font-style: oblique;
    text-shadow: 3px 3px 6px rgb(105, 105, 105);
}

/* division */
.division{
    display: flex;
}

/* partes */
.parte1{
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 50px;
}

.parte2{
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 40px;
}

/* inputs */
.input1{
    width: 30%;
    display: flex;
    flex-direction: column;
    text-align: center;
    padding-bottom: 20px;
    gap: 7px;
    font-size: 20px;
}

.input2{
    width: 30%;
    display: flex;
    flex-direction: column;
    text-align: center;
    padding-bottom: 28px;
    gap: 7px;
    font-size: 20px;
}

input{
    height: 40px;
    padding-left: 5px;
}

/* botones */
button{
    height: 35px;
    width: 40%;
    background-color: rgb(201, 201, 201);
    border: none;
    border-radius: 15px;
}

button:hover{
    background-color: rgb(146, 245, 168);
    transition: all 0.6s;
}

.boton1{
    margin-bottom: 20px;
}

/* resultado */
.mini_titulo{
    width: 100%;
    text-align: center;
    padding-bottom: 20px;
}

.resultado{
    height: 25%;
    width: 60%;
    border: solid 1px rgb(255, 218, 95);
    padding-top: 20px;
    background-color: rgb(255, 218, 95);
    border-radius: 18px;
    display: flex;
    justify-content: center;
    font-size: xx-large;
    font-weight: 500;
    font-family:'Times New Roman', Times, serif;
}

.imagen{
    display: flex;
    justify-content: center;
    align-items: center;
}